/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  float:left;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
  display:none;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}

/*
*
*
*
* Top menu
*
*
*
* */

/* big fat one
 .front #block-menu-menu-top-menu ul.menu a {
  letter-spacing: -.05em;
  color:#555;
} */

.front #block-menu-menu-top-menu {
  margin-top:0;
  margin-bottom:16px;
}

#block-menu-menu-top-menu {
  margin:10px 0 0;
}

.page-taxonomy #block-menu-menu-top-menu {
  margin:21px 0 0;
}

#block-menu-menu-top-menu .content {
}

#block-menu-menu-top-menu ul.menu {
  float:left;
  list-style-type:none;
  padding:0;
  text-decoration:none;
  width:auto;
}

.front #block-menu-menu-top-menu ul.menu {
  /* background:url(../images/home-menu-shadow.jpg) no-repeat bottom;
  border-bottom:2px solid #f38;
  padding-bottom:5px;
  margin-bottom:12px; */
  margin-bottom:0;
  padding-left:300px;
  display:none;
}

#block-menu-menu-top-menu ul.menu li,
#block-menu-menu-top-menu ul.menu li.leaf {
  float:left;
  margin-right:.5em;
  list-style-type:none;
  list-style-image:none;
}


#block-menu-menu-top-menu ul.menu li:last-child {
  margin-right:0;  
}

#block-menu-menu-top-menu ul.menu a {
  text-decoration:none;
  color:#666;
  font-family:helvetica, sans-serif;
  font-size:1.1em;
  font-weight:bold;
  letter-spacing: 0em;
  text-transform:lowercase;
  padding:5px 12px;
  background-color:#eee;
  border-radius:5px;
}

.front #block-menu-menu-top-menu ul.menu a:hover {
}

#block-menu-menu-top-menu ul.menu a.active,
#block-menu-menu-top-menu ul.menu a:hover {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  color:#fff;
  background-color:#f38;
}

#block-menu-menu-top-menu ul.menu li:nth-child(1) a.active,
#block-menu-menu-top-menu ul.menu li:nth-child(1) a:hover {
  background-color:#f8359f;
}

#block-menu-menu-top-menu ul.menu li:nth-child(2) a.active,
#block-menu-menu-top-menu ul.menu li:nth-child(2) a:hover {
  background-color:#FFA020;
}

#block-menu-menu-top-menu ul.menu li:nth-child(3) a.active,
#block-menu-menu-top-menu ul.menu li:nth-child(3) a:hover {
  background-color:#09A4EE;
}

#block-menu-menu-top-menu ul.menu li:nth-child(4) a.active,
#block-menu-menu-top-menu ul.menu li:nth-child(4) a:hover {
  background-color:#C3D100;
}

#block-menu-menu-top-menu ul.menu:nth-child(2) a.active {
  background-color:#09A4EE;
}

#block-menu-menu-top-menu ul.menu:nth-child(3) a.active {
  background-color:##C3D100;
}

#block-menu-menu-top-menu ul.menu:nth-child(4) a.active {
  background-color:#FFA020;
}

/* main menu home */
.not-front #block-menu-menu-top-menu {
  width:auto;
  float:left;
  margin-left:10px;
  padding-bottom:0;
  border-bottom:none;
  background:none;
}

.not-front #block-menu-menu-top-menu .content {
  /* cancel intro content styling */
  border-bottom:none;
  padding-bottom:0;
  margin-bottom:0;
}

.not-front #block-menu-menu-top-menu ul.menu {
  border:none !important;
  margin:0 0 0 4px;
  padding-bottom:0;
}

.not-front #block-menu-menu-top-menu ul.menu li {
  margin-right:2px;
  text-align:right;
}

.not-front #block-menu-menu-top-menu ul.menu a {
  font-size:.9em;
  letter-spacing:-.05em;
  text-transform:lowercase;
  font-weight:bold;
  color:#333;
  font-family:helvetica;
  padding:3px 7px;
}

.not-front #block-menu-menu-top-menu ul.menu a:hover,
.not-front #block-menu-menu-top-menu ul.menu a.active-trail {
  color:#fff;
}

/* main menu inner pages */

.not-front.page-taxonomy #block-menu-menu-top-menu li {
  margin-right:2px;
}


.not-front.page-node #block-menu-menu-top-menu ul.menu {
  margin:0;
  padding:0;
  background:0;
  /* background:url(../images/dotted-rule.gif) repeat-x bottom; */ 
}

.not-front.page-node #block-menu-menu-top-menu ul.menu a {
  color:#999;
}

.not-front.page-node #block-menu-menu-top-menu ul.menu a:hover {
  color:#fff;
}

.not-front.page-node #block-menu-menu-top-menu ul.menu li {
  margin-right:2px;
}

.views-field-field-thumb-big a {
  border:9px;  
}

ul.menu li.leaf {
  list-style:none;
}

.region-sidebar-first ul.menu {
  margin:0;
  padding:0;
}

.region-sidebar-first ul.menu a {
  letter-spacing:0em !important;
  line-height:1.3em;
}

.region-sidebar-first ul.menu a:hover {
  color:#fb3289;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.block-views-tags-block {
  font-size:.85em; 
}

.region-sidebar-first .block .content ul li {
  padding-left:2px;
  line-height:1.3em;
  text-transform:lowercase;
}

.region-footer .block .content ul li a,
.region-sidebar-first .block .content ul li a {
}

.region-footer .block .content ul li a:hover,
.region-sidebar-first .block .content ul li a:hover {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}